* {
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
}

header {
    width: 100%;
    height: 75px;
    background: rgba(0, 0, 0, 1);
    z-index: 1000;
}


.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1510px;
    margin: 0 100px;
}

.header_logo {
    height: 50px;
    left: 115px;
    display: flex;
    margin: 10px;
}

.header_menu {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.header_menu li a {
    text-decoration: none;
    font-family: "Open Sans" sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper {
    width: 100%;
    height: 900px;
    background: rgba(245, 245, 245, 1);
    color: #f5f5f5;
}

.banner {
    position: relative;
    width: 100%;
    height: 1026px;
    background-image: url("../img/pexels-adrien-olichon-1257089-2387793.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.banner_box_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner_box_logo {
    height: 90px;
    width: 200px;
}

.banner_box {
    display: flex;
    flex-direction: column;
    max-width: 670px;
    margin-top: 280px;
    color: rgba(255, 255, 255, 1);
}


.heading {
    font-family: "Raleway" sans-serif;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 30px;
}

.lorem_banner_box {
    font-family: "Raleway" serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner_button {
    font-family: "Open Sans" sans-serif;
    width: 270px;
    height: 58px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
}

.banner_button:hover {
    border: 2px solid rgba(236, 121, 121, 1);
    color: rgba(236, 121, 121, 1);
}

.banner_button::after {
    background: rgba(171, 73, 73, 1);
    border: 2px solid rgba(171, 73, 73, 1);
}


.form_container {
    width: 470px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-top: 280px;
}

.free_trial_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-grow: 1;
    margin-top: 30px;
}

.highlight {
    color: rgba(236, 121, 121, 1);
}

.form_header {
    font-family: "Open Sans" sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    text-align: center;
    margin-top: 30px;
}

.form_button {
    width: 100%;
    height: 60px;
    border: 0;
    font-size: 15px;
    background-color: rgba(236, 121, 121, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0 0 10px 10px;
    align-self: flex-end;
    margin-top: auto;
}

.form_button:hover {
    background: rgba(171, 73, 73, 1);
}

.form_item {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    width: 370px;
    height: 38px;
    font-family: "Open Sans" sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    align-self: center;
    line-height: 1.2;
}

.mediaSection {
    width: 100%;
    height: 140px;
    background: rgba(248, 239, 239, 1);
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 140px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.icon {
    width: 70px;
    height: 70px;
}

.socialText {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}

.social_title {
    font-family: "Open Sans" sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
}

.MediaText {
    color: rgba(134, 135, 139, 1);
    width: 470px;
    height: 42px;
    font-size: 18px;
}


.tab>input[type="radio"] {
    display: none;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3 {
    display: flex;
}

.tab>label {
    display: inline-block;
    text-align: center;
    width: 184px;
    margin-bottom: -1px;
    cursor: pointer;
    padding: 8px 16px 8px 16px;
}

.tab-content {
    display: none;
    width: 1170px;
    height: 500px;
    border: 1px solid rgba(198, 203, 205, 1);
    align-items: center;
    margin: 0;
    padding: 0;
}


.tab>input[type="radio"]:checked+label {
    background-color: white;
    border-right: 1px solid rgba(198, 203, 205, 1);
    border-left: 1px solid rgba(198, 203, 205, 1);
    border-top: 1px solid rgba(198, 203, 205, 1);
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.tab {
    padding-top: 40px;
    margin: 50px auto 0;
    max-width: 1170px;
}

.tabcontent {
    width: 700px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
}

.title-tab {
    font-family: "Open Sans" sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 50px;
}

.tab-text {
    font-family: "Raleway" sans-serif;
    width: 570px;
    font-weight: 400;
    height: 210px;
    left: 270px;
    color: rgba(0, 0, 0, 1);
    margin-left: 50px;
    margin-top: 50px;
    size: 18px;
    line-height: 21.13px;
}


.tab_content_button {
    font-family: "Open Sans" sans-serif;
    width: 270px;
    height: 58px;
    margin-left: 50px;
    background: rgba(236, 121, 121, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

.tab_content_button:hover {
    background: rgba(171, 73, 73, 1);
}

.pic {
    width: 470px;
    height: 498px;
}

.meme {
    width: 100%;
    height: 100%;
}

.awesome {
    padding-top: 40px;
    margin: 50px auto;
    max-width: 1170px;
    height: 665px;
    text-align: center;
}

.icon_awesome {
    width: 170px;
    height: 170px;
}

.title {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin: auto;
}

.lorem_awesome {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
    color: #86878B;
    margin: auto;
}

.cards_awesome {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    gap: 50px;
}

.titleCard {
    font-family: "Open Sans" sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.awesome_p {
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
    text-align: center;
}

.pricing {
    padding-top: 40px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.titlePricing {
    font-size: 36px;
    font-weight: 400;
    line-height: 42.26px;
    text-align: center;
    color: #000;
    /*padding: 50px;*/
}


.separator {
    width: 170px;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}


.lorem {
    width: 1169px;
    height: 21px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    color: #86878B;
    text-align: center;
    margin: auto;
}

.pricingCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}


.card {
    width: 370px;
    height: 500px;
}


li {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    height: 100px;
}

.open {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
}

.bgBlack {
    background: #333333;
    border: 2px solid #F5F5F5;
}

.bgWhite {
    color: #86878B;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
}

.free,
.open {
    height: 50px;
}

.free {
    color: #FFFFFF80;
}

.Optima {
    margin-top: -30px;
    box-shadow: 0 5px 5px 5px rgba(51, 51, 51, 0.2);
}

.customers {
    padding: 40px;
    margin: 50px auto;
    max-width: 1170px;
    height: 665px;
    left: 171px;
    text-align: center;
}

.customers_title {
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
    text-align: center;
}

.customers_lorem {
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
    color: rgba(134, 135, 139, 1);
}

.commentCards {
    width: 370px;
    height: 180px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 30px;
}


.commentText {
    width: 370px;
    height: 180px;
    border-radius: 10px;
    background: rgba(226, 226, 226, 1);
    text-align: center;
    color: rgba(134, 135, 139, 1);
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
}

#triangle-down {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid rgba(226, 226, 226, 1);
    margin-top: -15px;
    margin-left: 50px;
}

.custPhoto {
    width: 70px;
    height: 70px;
    margin-left: -270px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 100px;
    margin-top: -60px;
}

.name {
    font-family: "Open Sans" sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.manager {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.stylishdesign {
    width: 100%;
    height: 442px;
    background-image: url("../img/bg_pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ourdesign {
    text-align: center;
    padding-top: 100px;

}

.stylish_title {
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
    color: rgba(255, 255, 255, 1);
}

.lorem_stylish {
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: rgba(255, 255, 255, 1);
}

.stylish_button {
    font-family: "Open Sans" sans-serif;
    width: 270px;
    height: 58px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    margin-top: 60px;
}

.stylish_button:hover {
    background-color: transparent;
    color: rgba(171, 73, 73, 1);
    border: 2px solid rgba(171, 73, 73, 1);
}

.contact_us_content {
    width: 1170px;
    height: 620px;
    padding: 40px 20px;
    text-align: center;
    margin: 50px auto;
}


.contact_us_title {
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 36px;
}

.lorem_contact {
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.contact_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
    align-items: end;
}

.contact_form_item {
    width: 570px;
    height: 38px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    font-family: "Open Sans" sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 40px;
    line-height: 1.2;
    align-self: center;
}

.message_field {
    height: 198px;
    resize: none;
}

.contact_form_button {
    display: block;
    width: 370px;
    height: 58px;
    margin: 50px auto 0;
    padding: 10px;
    border: none;
    background: rgba(236, 121, 121, 1);
    color: rgba(255, 255, 255, 1);
}

.contact_form_button:hover {
    background: rgba(171, 73, 73, 1);
}

footer {
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_icon {
    width: 55px;
    height: 55px;
    margin: 15px;
    color: rgba(204, 204, 204, 1);

}

.footer_text {
    font-family: "Raleway" sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

@media screen and (max-width: 1024px) {
    .header_container {
        max-width: 1024px;
        margin: 0 10px 0 100px;
    }

    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .wrapper {
        width: 100%;
        height: 770px;
    }

    .banner {
        position: relative;
        width: 100%;
        height: 770px;
        background-image: url("../img/pexels-adrien-olichon-1257089-2387793.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .banner_box_content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .banner_box_logo {
        height: 75px;
        width: 184px;
    }

    .banner_box {
        max-width: 454px;
    }

    .heading {
        font-size: 36px;
    }

    .lorem_banner_box {
        font-size: 14px;
    }

    .banner_button {
        width: 183px;
        height: 50px;
    }

    .form_container {
        width: 400px;
        height: 450px;
    }

    .form_item {
        width: 298px;
        height: 38px;
    }

    .form_header {
        font-size: 18px;
    }

    .mediaSection {
        width: 100%;
        height: 105px;
    }

    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 105px;
    }

    .icon {
        width: 64px;
        height: 64px;
    }

    .socialIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .socialText {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 402px;
    }

    .social_title {
        font-size: 18px;
        line-height: 24px;
    }

    .MediaText {
        width: 402px;
        height: 32px;
        font-size: 14px;
    }

    .tab>label {
        width: 155px;
    }

    .tab-content {
        width: 990px;
        height: 385px;
    }

    .tab {
        margin: 50px auto 0;
        max-width: 1170px;
    }

    .tabcontent {
        width: 480px;
        padding-left: 0;
        margin-right: 160px;
    }

    .title-tab {
        font-size: 24px;
        font-weight: 700;
        margin-top: 30px;
        margin-left: 50px;
    }

    .tab-text {
        width: 480px;
        margin-left: 50px;
        margin-top: 50px;
        size: 14px;
        line-height: 16px;
    }

    .tab_content_button {
        width: 230px;
        height: 58px;
    }

    .pic {
        width: 398px;
        height: 385px;
    }

    .meme {
        width: 100%;
        height: 100%;
    }

    .awesome {
        max-width: 992px;
        height: 518px;
    }

    .icon_awesome {
        width: 147px;
        height: 147px;
    }

    .title {
        font-size: 24px;
    }

    .lorem_awesome {
        font-size: 14px;
        line-height: 16.44px;
    }

    .titleCard {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}