.radio {
    width: 203px;
    height: 40px;
}

.tab>input[type="radio"],
.tab-content {
    display: none;
}

.tab {
    margin: 50px;
    max-width: 1170px;
    height: 540px;
    border: 1px solid rgba(198, 203, 205, 1);
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3 {
    display: block;
}

.text-tab {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.85px;
    text-align: left;
}

.tab-text {
    width: 570px;
    height: 210px;
    top: 1454px;
    left: 270px;
    gap: 0px;
}

button {
    width: 270px;
    height: 58px;
    display: flex;
    flex-direction: row;
}

.meme {
    width: 470px;
    height: 500px;
    top: 1303px;
    left: 870px;
}